<section class="section">
  <h1 class="section-title">Departments</h1>

  <div class="departments-list">
    <% @departments.each do |dept| %>
      <div class="dept-card">
        <h3><%= dept.name %></h3>
        <p><%= dept.description %></p>
      </div>
    <% end %>
  </div>
</section>
